<%- include layouts/header.ejs %>

<div class="container">
  <div class="d-grid">
    <a href="/users/" class="btn btn-lg btn-green mb-4" type="button">
      Listar Usuários
    </a>
    <a href="/classes/" class="btn btn-lg btn-green mb-4" type="button">
      Listar Classes
    </a>
    <a href="/comments/" class="btn btn-lg btn-green mb-4" type="button">
      Listar Comentários
    </a>
  </div>
</div>

<%- include layouts/footer.ejs %>
