@import "../variables";

.btn-pink {
  color: $blue !important;
  border-color: $pink !important;
  background-color: $pink !important;
}

.btn-green {
  color: $blue !important;
  border-color: $green !important;
  background-color: $green !important;
}
