@import "../variables";

.bg-red {
  background-color: $red;
}

.bg-blue {
  background-color: $blue;
}

.bg-green {
  background-color: $green;
}

.bg-dark-green {
  background-color: $dark-green;
}
